<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>DF Companion</string>
	<key>CFBundleIdentifier</key>
	<string>com.benreierson.dragonfrontcompanion</string>
	<key>CFBundleVersion</key>
	<string>1.0.8</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.8</string>
	<key>CFBundleName</key>
	<string>DF Companion</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Deck File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.benreierson.deck</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Deck File</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon-76@2x</string>
			<key>UTTypeIdentifier</key>
			<string>com.benreierson.deck</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.benreierson.deck</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>dfd</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Deck File</string>
			<key>UTTypeIdentifier</key>
			<string>com.benreierson.deck</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon-76@2x</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>dfd</string>
			</dict>
		</dict>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar is not currently used, this permission should not be accepted.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DF Companion needs access to photos to store deck screenshots.</string>
	<key>CFBundleShortVersion</key>
	<string>1.0.81</string>
</dict>
</plist>
